<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta content="巴比特始建于2011年，是国内最早的区块链（blockchain）资讯社区门户，为区块链创业者、投资者提供信息、交流与投融资服务。开放是我们的广度，中立是我们的态度，敏锐是我们的深度，欢迎一切区块链技术的探讨争鸣。目前有200多位区块链意见领袖、研究者入驻平台。如果您是我们的同类，欢迎加入我们！" name="description">
	<meta content="比特币,比特币资讯,区块链,区块链资讯,数字货币,数字货币资讯,虚拟货币,虚拟货币资讯" name="keywords">
	<title>产品详情页</title>
	<link rel="icon" href="./img/favicon.ico" />
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/new_header.css">
	<link rel="stylesheet" href="./css/detail.css">
	<script>
		window.DEBUGGER = true;//全局切换本地线上状态
	</script>
</head>
<body>
	<div class="header">
		<div class="header-main">
			<div class="header-logo"><img src="http://www.chinadatatrading.com/images/banner/Logo.svg" alt=""></div>
			<div class="header-right">
				
			</div>
		</div>
	</div>
	<div class="detail-wrap">
		<div class="crumbs">
			<ul class="clearfix">
				<li>当前位置：<a href="index.html">东湖大数据交易中心</a></li>
				<li>&nbsp;&gt;&nbsp;</li>
				<li>详情介绍</li>
			</ul>
		</div>
		<div class="detail-box">
			<div class="dpart clearfix">
				<div class="dpart_left">
					<div class="dpart01">
						<h1 class="dpart01p">
							 测绘地理信息市场信用评级
						</h1>
					</div>
					<div class="dpart02">
						<div class="dpart02_left">
							<img class="dpart_limg" src="http://www.chinadatatrading.com/images/radomicon/a1.png" alt="">
							<p class="dpart_lp">累计交易：<span>&yen;935000.00</span>元</p>
						</div>
						<div class="dpart02_right">
							<p class="dpart_rp">
								<span class="dpart_rp_s1">交易价格：</span>
								<span class="dpart_rp_s2">&yen;<span class="dpart_rp_s3">10000.00</span></span>
							</p>
							<div class="dpart_rp">
								<span class="dpart_rp_s1">数据所属行业：</span>交通环境
							</div>
							<p class="dpart_rp">
								<span class="dpart_rp_s1">浏览次数：</span>3274
							</p>
							<p class="dpart_rp"><span class="dpart_rp_s1">发布时间：</span>2016-01-13 17:07:54</p>
							<a href="oindex.html" class="dpart_ra">立即购买</a>
						</div>
					</div>
				</div>
				<div class="dpart_right">
					<p class="dpart03">喵喵</p>
					<img class="dpart_limg IMG_yuan" src="http://www.chinadatatrading.com/images/userDefault.jpg" alt="">
					<p class="tc_jiedan02_l_p03">联系电话：027-87326792</p>
				</div>
			</div>
			<div class="dpart-tabs">
				<ul class="tab-nav nav">
					<li class="active">数据介绍</li>
					<li>样例展示</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pannel">
						<table class="table table-hover table-bordered">
							<tr>
								<td width="120"><b>数据产品介绍</b></td>
								<td>测绘与地理信息技术普遍应用于工程勘测、设计、施工、环境监测等各个行业，市场上有许多从事测量工程等建筑方面的公司，如何评价公司技术好坏成为招投标中一个不可忽视的重要因素。该数据统计了测绘技术方面各公司的市场信用评价数据，包括评价年度，测绘公司名称，市场信用评级等字段。</td>
							</tr>
							<tr>
								<td width="120"><b>数据所属行业</b></td>
								<td>交通、环境</td>
							</tr>
							<tr>
								<td width="120"><b>数据格式</b></td>
								<td>音频</td>
							</tr>
							<tr>
								<td width="120"><b>文件大小</b></td>
								<td>99KB</td>
							</tr>
							<tr>
								<td width="120"><b>数据来源</b></td>
								<td>其他</td>
							</tr>
							<tr>
								<td width="120"><b>版权信息</b></td>
								<td>&nbsp;</td>
							</tr>
						</table>
					</div>
					<div class="tab-pannel" style="display:none;">
						<img src="http://img.dhbigdata.cn/dfun/upload/publish/data_1452675618188.jpg" alt="">
						<br>
						<img src="http://img.dhbigdata.cn/dfun/upload/publish/data_1452675621981.jpg" alt="">
						<br>
						<img src="http://img.dhbigdata.cn/dfun/upload/publish/data_1452675626140.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
<script src="./js/jquery.min.js"></script>
<script src="./js/template.js"></script>
<script src="./js/detail.js"></script>
<script type="text/html" id="statusTpl">
	<% if(loginStatus === true){ %>
	<p>欢迎，<%= username%><a class="logout" href="javascript:;">退出
    </a></p>
	<% }else{ %>
	<p class="login">登录</p>
	<p class="register">注册</p>
	<% } %>
</script>
</html>