<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta content="巴比特始建于2011年，是国内最早的区块链（blockchain）资讯社区门户，为区块链创业者、投资者提供信息、交流与投融资服务。开放是我们的广度，中立是我们的态度，敏锐是我们的深度，欢迎一切区块链技术的探讨争鸣。目前有200多位区块链意见领袖、研究者入驻平台。如果您是我们的同类，欢迎加入我们！" name="description">
	<meta content="比特币,比特币资讯,区块链,区块链资讯,数字货币,数字货币资讯,虚拟货币,虚拟货币资讯" name="keywords">
	<title>东湖大数据交易中心</title>
	<link rel="icon" href="./img/favicon.ico" />
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/new_header.css">
	<link rel="stylesheet" href="./css/list.css">
	<script>
		window.DEBUGGER = true;//全局切换本地线上状态
	</script>
</head>
<body>
	<div class="header">
		<div class="header-main">
			<div class="header-logo"><img src="http://www.chinadatatrading.com/images/banner/Logo.svg" alt=""></div>
			<div class="header-right">
				
			</div>
		</div>
	</div>
	<div class="banner-wrap">
		<div class="banner-box">
			<div id="marquee">
				<div class="banner banner0">
					<div class="banner-title">
						<img src="http://www.chinadatatrading.com/images/3.7/banner/banner6_title.png" alt="" />
					</div>
					<div class="banner-pics">
						<ul class="scene">
						  <li class="layer img1" data-depth="0.10"><img src="http://www.chinadatatrading.com/images/3.7/banner/banner6_01.png"></li>
						</ul>
					</div>
				</div>
				<div class="banner banner1">
					<div class="banner-title">
						<img src="http://www.chinadatatrading.com/images/3.6/banner/banner2_title.png" alt="" />
					</div>
					<div class="banner-pics">
						<ul class="scene">
						  <li class="layer img1" data-depth="0.10"><img src="http://www.chinadatatrading.com/images/3.6/banner/part03.png"></li>
						  <li class="layer img2" data-depth="0.15"><img src="http://www.chinadatatrading.com/images/3.6/banner/part01.png"></li>
						  <li class="layer img3" data-depth="0.15"><img src="http://www.chinadatatrading.com/images/3.6/banner/part02.png"></li>
						</ul>
					</div>
				</div>
				<div class="banner banner2">
					<div class="banner-title">
						<img src="http://www.chinadatatrading.com/images/banner1_title.png" alt="" />
					</div>
					<div class="banner-pics">
						<ul class="scene">
						  <li class="layer img1" data-depth="0.10"><img src="http://www.chinadatatrading.com/images/banner1_01.png"></li>
						  <li class="layer img2" data-depth="0.20"><img src="http://www.chinadatatrading.com/images/banner1_02.png"></li>
						  <li class="layer img3" data-depth="0.20"><img src="http://www.chinadatatrading.com/images/banner1_03.png"></li>
						</ul>
					</div>
				</div>
				<div class="banner banner3">
					<div class="banner-title">
						<img src="http://www.chinadatatrading.com/images/banner3_title.png" alt="" />
					</div>
					<div class="banner-pics">
						<ul class="scene">
						  <li class="layer img1" data-depth="0.10"><img src="http://www.chinadatatrading.com/images/banner3_03.png"></li>
						  <li class="layer img2" data-depth="0.20"><img src="http://www.chinadatatrading.com/images/banner3_02.png"></li>
						  <li class="layer img3" data-depth="0.20"><img src="http://www.chinadatatrading.com/images/banner3_01.png"></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="asset-wrap">
		<h2><img src="http://www.chinadatatrading.com/images/tit1_03.jpg" alt=""></h2>
		<div class="asset-box clearfix">
			<div class="left-type"><img src="http://www.chinadatatrading.com/images/3.5/hotData.png" alt=""></div>
			<div class="right-asset">
				<div class="box11">
					<div class="box11_l">
						<img src="http://www.chinadatatrading.com/images/radomicon/a1.png" alt="">
						<a href="detail.html" target="_blank">查看详情</a>
					</div>
					<div class="boz11_r">
						<h3>
							测绘地理信息市场信用评级
						</h3>
						<p class="p2">
							测绘与地理信息技术普遍应用于工程勘测、设计、施工、环境监测等各个行业，市场上有许...
						</p>
						<p class="p5">
							&yen; 10000.00
						</p>
						<p class="p6">累计交易： 935000.00元</p>
					</div>
				</div>
				<div class="box12">
					<div class="box12_d">
						<p class="p1">
							<img src="http://www.chinadatatrading.com/images/radomicon/a5.png" alt="">
						</p>
						<p class="p9">基于我国近30年财政收支状况分析</p> 
						<p class="p3"> &yen; 10000.00 </p>
						<p class="p5">累计交易： 792000.00元</p>
					</div>
					<div class="box12_s">
						<p>
							本数据整理来源于国家统计局。包含了1983年-2013年近30年来我国财政收支的具体状况...
						</p>
						<a href="detail.html" target="_blank">查看详情</a>
					</div>
				</div>
				<div class="box12">
					<div class="tips-rebate">
						<span class="num-rebate">9 折</span>
					</div>
					<div class="box12_d">
						<p class="p1">
							<img src="http://www.chinadatatrading.com/images/radomicon/a11.png" alt="">
						</p>
						<p class="p9">企业信用信息工商信息数据库</p> 
						<p class="p3"> &yen; 1800000.00 <span class="prime-cost">&yen;2000000.00</span></p>
						<p class="p5">累计交易： 792000.00元</p>
					</div>
					<div class="box12_s">
						<p>
							泰尔信用是国家级企业信用信息发布的基础设施，由中国信息通信研究院（即工信部电信研究院）指...
						</p>
						<a href="detail.html" target="_blank">查看详情</a>
					</div>
				</div>
				<div class="box12">
					<div class="box12_d">
						<p class="p1">
							<img src="http://www.chinadatatrading.com/images/radomicon/a5.png" alt="">
						</p>
						<p class="p9">基于我国近30年财政收支状况分析</p> 
						<p class="p3"> &yen; 10000.00 </p>
						<p class="p5">累计交易： 792000.00元</p>
					</div>
					<div class="box12_s">
						<p>
							本数据整理来源于国家统计局。包含了1983年-2013年近30年来我国财政收支的具体状况...
						</p>
						<a href="detail.html" target="_blank">查看详情</a>
					</div>
				</div>
				<div class="box12">
					<div class="box12_d">
						<p class="p1">
							<img src="http://www.chinadatatrading.com/images/radomicon/a5.png" alt="">
						</p>
						<p class="p9">基于我国近30年财政收支状况分析</p> 
						<p class="p3"> &yen; 10000.00 </p>
						<p class="p5">累计交易： 792000.00元</p>
					</div>
					<div class="box12_s">
						<p>
							本数据整理来源于国家统计局。包含了1983年-2013年近30年来我国财政收支的具体状况...
						</p>
						<a href="detail.html" target="_blank">查看详情</a>
					</div>
				</div>
				<div class="box12">
					<div class="box12_d">
						<p class="p1">
							<img src="http://www.chinadatatrading.com/images/radomicon/a5.png" alt="">
						</p>
						<p class="p9">基于我国近30年财政收支状况分析</p> 
						<p class="p3"> &yen; 10000.00 </p>
						<p class="p5">累计交易： 792000.00元</p>
					</div>
					<div class="box12_s">
						<p>
							本数据整理来源于国家统计局。包含了1983年-2013年近30年来我国财政收支的具体状况...
						</p>
						<a href="detail.html" target="_blank">查看详情</a>
					</div>
				</div>
				<div class="box12">
					<div class="box12_d">
						<p class="p1">
							<img src="http://www.chinadatatrading.com/images/radomicon/a5.png" alt="">
						</p>
						<p class="p9">基于我国近30年财政收支状况分析</p> 
						<p class="p3"> &yen; 10000.00 </p>
						<p class="p5">累计交易： 792000.00元</p>
					</div>
					<div class="box12_s">
						<p>
							本数据整理来源于国家统计局。包含了1983年-2013年近30年来我国财政收支的具体状况...
						</p>
						<a href="detail.html" target="_blank">查看详情</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="./js/jquery.min.js"></script>
<script src="./js/jquery.bxslider.js"></script>
<script src="./js/jquery.parallax.js"></script>
<script src="./js/template.js"></script>
<script src="./js/datatrading.js"></script>
<script type="text/html" id="statusTpl">
	<% if(loginStatus === true){ %>
	<p>欢迎，<%= username%><a class="logout" href="javascript:;">退出
    </a></p>
	<% }else{ %>
	<p class="login">登录</p>
	<p class="register">注册</p>
	<% } %>
</script>
</html>