<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta content="巴比特始建于2011年，是国内最早的区块链（blockchain）资讯社区门户，为区块链创业者、投资者提供信息、交流与投融资服务。开放是我们的广度，中立是我们的态度，敏锐是我们的深度，欢迎一切区块链技术的探讨争鸣。目前有200多位区块链意见领袖、研究者入驻平台。如果您是我们的同类，欢迎加入我们！" name="description">
	<meta content="比特币,比特币资讯,区块链,区块链资讯,数字货币,数字货币资讯,虚拟货币,虚拟货币资讯" name="keywords">
	<title>个人资产-待审核资产</title>
	<link rel="icon" href="./img/favicon.ico" />
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="./css/header.css">
	<link rel="stylesheet" href="./css/my_asset.css">
    <link rel="stylesheet" href="./css/rl.css"> 
	<script>
		window.DEBUGGER = true;//全局切换本地线上状态
	</script>
</head>
<body>
	<div class="navbar-fixed-container">
		<div class="navbar navbar-fixed-top affix-top" data-offset-top="1" data-spy="affix">
			<nav role="navigation">
				<div class="container-fluid">
					<div class="nav navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Expand and Collapse Menu">
  	                        <span class="icon-bar"></span>
  	                        <span class="icon-bar"></span>
  	                        <span class="icon-bar"></span>
  	                    </button>
  	                    <a class="navbar-brand" href="oindex.html">Bytom</a>
					</div>
					<div class="navbar-collapse collapse"></div>
				</div>
			</nav>
		</div>
	</div>
	<div class="container">
		<!-- <div class="row"> -->
			<div class="col-sm-12 J_tab">
				<ul class="tab-nav clearfix">
					<li><a href="my_asset.html">资产概况</a></li>
					<li><a href="published_asset.html">已发布资产</a></li>
					<li><a href="purchased_asset.html">已购买资产</a></li>
					<li><a href="create_asset.html">创建资产</a></li>
					<li class="active"><a href="pending_asset.html">待审核/发布资产</a></li>
					<li><a href="exchange_asset.html">兑换资产审核</a></li>
					<li><a href="myexchange_asset.html">我兑换的资产</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pannel asset-pending clearfix">
						<div class="asset-block">
							<h3>待审核资产</h3>
							<div class="asset-table">
								<!-- <div class="operate-list clearfix">
									<button type="button" class="btn btn-danger btn-lg btn-allDel">
									批量删除
									</button>
									<button type="button" class="btn btn-info btn-lg btn-allPending">
									批量审批
									</button>
								</div> -->
								<div class="table-box">
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- </div> -->
	</div>
	<div class="modal-box"></div>
	<div class="dialog-box"></div>
</body>
<script src="./js/jquery.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/template.js"></script>
<script src="./js/pending_asset.js"></script>
<script src="./js/apiUrl.js"></script>

<script id="navTpl" type="text/html">
    <ul class="nav navbar-nav navbar-left">
		<li>
        	<a href="oindex.html">首页</a>
        </li>
        <li>
            <a class="active" href="my_asset.html">个人资产</a>
        </li>
        <li>
            <a href="asset_center.html">资产中心</a>
        </li>
        <% if(loginStatus === true){ %>
        <li>
        	<a href="user_center.html">个人中心</a>
        </li>
        <% } %>
	</ul>
	<ul class="nav navbar-nav navbar-right">
        <% if(loginStatus === true){ %>
        <li>
            <a class="logout" href="javascript:;">
                <img src="http://www.gravatar.com/avatar/2b17029a858d6acb7702603d1c139799?s=18&amp;r=g&amp;d=identicon">
                退出
            </a>
        </li>
        <% }else{ %>
		<li><a href="login.html">登录</a></li>
        <li><a href="register.html">注册</a></li>
        <% } %>
	</ul>
</script>

<script id="assetTpl" type="text/html">
	<table class="table table-hover table-bordered">
		<tr>
			<th>序号</th>
			<th>资产名称</th>
			<th>资产描述</th>
			<th>资产价格</th>
			<th>操作</th>
		</tr>
		<%for(var i in items){%> 
		<tr class="item" data-index="<%= i%>" data-itemid="<%= items[i].assets_id%>">
			<td><% if(i < 9){%>0<% }%><%=parseInt(i) + 1%></td>
			<td class="name"><%= items[i].assets_name%></td>
			<td class="desc-wrap">
				<p class="desc" style="display:none;"><%= items[i].assets_desc%></p>
				<p class="showdesc" title="<%= items[i].assets_desc%>"><% if(items[i].assets_desc.length >= 10){%><%= items[i].assets_desc.substr(0,10)%>...<%}else{%><%= items[i].assets_desc%><%}%></p>
			</td>
			<td class="desc"><% if(items[i].price){%><%= items[i].price.toFixed(2)%><% }else{%>/<% }%></td>
			<td>
				<% if(items[i].status === 0){%>
				<input type="button" name="" value="审批" data-loading-text="审批中..." class="btn btn-info btn-pending" />
				<% }else if(items[i].status === 1){%>
				<input type="button" name="" value="审批中..." class="btn btn-info btn-needpending" disabled="disabled" />
				<% }else if(items[i].status === 2){%>
				<input type="button" name="" value="发布" data-loading-text="发布中..." class="btn btn-success btn-publish" />
				<% }else{%>
				<input type="button" name="" value="已发布" class="btn btn-success" disabled="disabled" />
				<% }%>
			</td>
		</tr>
		<% }%>
	</table>
	</tbody>
</script>

<script type="text/html" id="modalTpl">
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">温馨提示</h4>
			    </div>
			    <div class="modal-body">
			     	<%=tips%>
      			</div>
				<div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			        <button type="button" class="btn btn-primary <% if(type==='delAll'){%>btn-delAll<%}else if(type == 'pendingAll'){%>btn-pendingAll<%}else if(type == 'delOne'){%>btn-delOne<%}else if(type == 'publishOne'){%>btn-publishOne<%}else{%>btn-pendingOne<%}%>" data-dismiss="modal">确定</button>
			    </div>
			</div>
		</div>
	</div>
</script>

<script id="alertTpl" type="text/html">
    <div class="alert alert-<%= type%> alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      <h4><%= text%></h4>
    </div>
</script>

</html>