<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta content="巴比特始建于2011年，是国内最早的区块链（blockchain）资讯社区门户，为区块链创业者、投资者提供信息、交流与投融资服务。开放是我们的广度，中立是我们的态度，敏锐是我们的深度，欢迎一切区块链技术的探讨争鸣。目前有200多位区块链意见领袖、研究者入驻平台。如果您是我们的同类，欢迎加入我们！" name="description">
	<meta content="比特币,比特币资讯,区块链,区块链资讯,数字货币,数字货币资讯,虚拟货币,虚拟货币资讯" name="keywords">
	<title>个人资产-待审核资产</title>
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="./css/header.css">
	<link rel="stylesheet" href="./css/my_asset.css">
	<script>
		window.DEBUGGER = true;//全局切换本地线上状态
	</script>
</head>
<body>
	<div class="navbar-fixed-container">
		<div class="navbar navbar-fixed-top affix-top" data-offset-top="1" data-spy="affix">
			<nav role="navigation">
				<div class="container-fluid">
					<div class="nav navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Expand and Collapse Menu">
  	                        <span class="icon-bar"></span>
  	                        <span class="icon-bar"></span>
  	                        <span class="icon-bar"></span>
  	                    </button>
  	                    <a class="navbar-brand" href="index.html">Bytom</a>
					</div>
					<div class="navbar-collapse collapse"></div>
				</div>
			</nav>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="com-sm-12 J_tab">
				<ul class="tab-nav clearfix">
					<li><a href="my_asset.html">资产概况</a></li>
					<li><a href="published_asset.html">已发布资产</a></li>
					<li><a href="purchased_asset.html">已购买资产</a></li>
					<li><a href="create_asset.html">创建资产</a></li>
					<li class="active"><a href="pending_asset.html">待审核资产</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pannel asset-pending clearfix">
						<div class="asset-block">
							<h3>待审核资产</h3>
							<div class="asset-table">
								<div class="operate-list clearfix">
									<button type="button" class="btn btn-danger btn-lg btn-allDel">
									批量删除
									</button>
									<button type="button" class="btn btn-info btn-lg btn-allPending">
									批量审批
									</button>
								</div>
								<div class="table-box">
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-box"></div>
</body>
<script src="./js/jquery.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/template.js"></script>
<script>
	$(function(){
		var T = {
			init: function(){
				var self = this;
				self.index = 0;
				self.userName = self.getCookie('username');
				self.loginStatus();
				self.renderAsset();
				self.operateAsset();
				self.checkAl();
				self.logout();
			},
			loginStatus: function(){
				var self = this;
				//ajax请求登录返回loginStatus,保存cookie
				self.setCookie('username', 'wuchengba', 1);//模拟登录
				if(self.userName){
					var loginStatus = true;
				}else{
					var loginStatus = false;
					window.location.href = 'login.html';
					return false;
				}
				var navBarHtml = template($('#navTpl').html(), {
			        loginStatus: loginStatus//已经登录
			    });
			    $('.navbar-collapse').html(navBarHtml);
			},
			checkAl: function(){
				var self = this;
				$('.asset-block').on('click', '.checkAll', function(event) {
					var status = $(this).is(":checked");
					$('.asset-table .checkSingle').each(function(index, el) {
						$(this).prop('checked', status);
					});
				});
			},
			renderAsset: function(){
				var self = this;
				var data = {
					"code": 200,
					"msg": '请求成功',
					data: [{
						"name": "btm",
						"owner": "bytom",
						"time": "2018/06/03",
						"desc": "这是资产描述",
						"num": 10,
						"price": 1000,
						"detailUrl": "http://www.baidu.com",//详情地址
						"orderUrl": "http://www.google.com",//购买地址
						"id": 100//产品id
					},{
						"name": "btm2",
						"owner": "bytom",
						"time": "2018/06/03",
						"desc": "这是资产描述",
						"num": 10,
						"price": 1000,
						"detailUrl": "http://www.baidu.com",//详情地址
						"orderUrl": "http://www.google.com",//购买地址
						"id": 100//产品id
					},{
						"name": "btm3",
						"owner": "bytom",
						"time": "2018/06/03",
						"desc": "这是资产描述",
						"num": 10,
						"price": 1000,
						"detailUrl": "http://www.baidu.com",//详情地址
						"orderUrl": "http://www.google.com",//购买地址
						"id": 100//产品id
					},{
						"name": "btm4",
						"owner": "bytom",
						"time": "2018/06/03",
						"desc": "这是资产描述",
						"num": 10,
						"price": 1000,
						"detailUrl": "http://www.baidu.com",//详情地址
						"orderUrl": "http://www.google.com",//购买地址
						"id": 100//产品id
					},{
						"name": "btm5",
						"owner": "bytom",
						"time": "2018/06/03",
						"desc": "这是资产描述",
						"num": 10,
						"price": 1000,
						"detailUrl": "http://www.baidu.com",//详情地址
						"orderUrl": "http://www.google.com",//购买地址
						"id": 100//产品id
					}]
				};

				var assetHtml = template($('#assetTpl').html(), {
					items: data.data
			    });
			    $('.asset-pending .table-box').html(assetHtml);
			},
			operateAsset: function(){
				var self = this;

				//显示确认操作弹窗
				$('.btn-allDel').on('click', function(event) {
					event.preventDefault();
					var modalHtml = template($('#modalTpl').html(), {
				        tips: '确定批量删除选中资产？',
				        type: "delAll"
				    });
				    $('.modal-box').html(modalHtml);
				    $('#myModal').modal();
				});

				$('.btn-allPending').on('click', function(event) {
					event.preventDefault();
					var modalHtml = template($('#modalTpl').html(), {
				        tips: '确定批量审批选中资产？',
				        type: "pendingAll"
				    });
				    $('.modal-box').html(modalHtml);
				    $('#myModal').modal();
				});

				$('body').on('click', '.btn-del', function(event) {
					event.preventDefault();
					self.index = parseInt($(this).parents('.item').attr('data-id'));
					var index = self.index + 1;
					var modalHtml = template($('#modalTpl').html(), {
				        tips: '确定删除第' + index + '条资产？',
				        type: "delOne"
				    });
				    $('.modal-box').html(modalHtml);
				    $('#myModal').modal();
				});

				$('body').on('click', '.btn-pending', function(event) {
					event.preventDefault();
					self.index = parseInt($(this).parents('.item').attr('data-id'));
					var index = self.index + 1;
					var modalHtml = template($('#modalTpl').html(), {
				        tips: '确定审批第' + index + '条资产？',
				        type: "pendingOne"
				    });
				    $('.modal-box').html(modalHtml);
				    $('#myModal').modal();
				});

				//批量删除
				$('body').on('click', '.btn-delAll', function(event) {
					event.preventDefault();
					var params = [];
					$('.asset-pending tr.item').each(function(index, el) {
						if($(this).find('.checkSingle').is(':checked')){
							params.push({
								name: $(this).find('.name').text(),
						    	num: $(this).find('.num').text(),
						    	desc: $(this).find('.desc').text()
							})
						}
						
					});
					console.log(JSON.stringify(params))
					if(params.legth > 0){//有数据选中后提交
						// $.ajax({
					 //      type: "POST",
					 //      url: "/url.do",
					 //      data: params,
					 //      dataType : "json",
					 //      success: function(res){
					 			// self.renderAsset();
					 //      }
						// });
					}
				});

				//批量审批
				$('body').on('click', '.btn-pendingAll', function(event) {
					event.preventDefault();
					var params = [];
					$('.asset-pending tr.item').each(function(index, el) {
						if($(this).find('.checkSingle').is(':checked')){
							params.push({
								name: $(this).find('.name').text(),
						    	num: $(this).find('.num').text(),
						    	desc: $(this).find('.desc').text()
							})
						}
						
					});
					console.log(JSON.stringify(params))
					if(params.legth > 0){//有数据选中后提交
						// $.ajax({
					 //      type: "POST",
					 //      url: "/url.do",
					 //      data: params,
					 //      dataType : "json",
					 //      success: function(res){
					 			// self.renderAsset();
					 //      }
						// });
					}
				});


				//单个删除
				$('body').on('click', '.btn-delOne', function(event) {
					event.preventDefault();
					var params = [];
					params.push({
						name: $('.item').eq(self.index).find('.name').text(),
				    	num: $('.item').eq(self.index).find('.num').text(),
				    	desc: $('.item').eq(self.index).find('.desc').text()
					});
					console.log(JSON.stringify(params))
					// $.ajax({
					 //      type: "POST",
					 //      url: "/url.do",
					 //      data: params,
					 //      dataType : "json",
					 //      success: function(res){
					 			// self.renderAsset();
					 //      }
						// });
				});

				//单个删除
				$('body').on('click', '.btn-pendingOne', function(event) {
					event.preventDefault();
					var params = [];
					params.push({
						name: $('.item').eq(self.index).find('.name').text(),
				    	num: $('.item').eq(self.index).find('.num').text(),
				    	desc: $('.item').eq(self.index).find('.desc').text()
					});
					console.log(JSON.stringify(params))
					// $.ajax({
					 //      type: "POST",
					 //      url: "/url.do",
					 //      data: params,
					 //      dataType : "json",
					 //      success: function(res){
					 			// self.renderAsset();
					 //      }
						// });
				});


			},
			logout: function(){
				var self = this;
				$('.logout').on('click', function(event) {
					event.preventDefault();
					self.setCookie('username', '', -1);
					window.location.href = 'login.html';
				});
			},
			setCookie: function(cname, cvalue, exdays) {
				var self = this;
			    var d = new Date();
			    d.setTime(d.getTime() + (exdays*24*60*60*1000));
			    var expires = "expires="+d.toUTCString();
			    document.cookie = cname + "=" + cvalue + "; " + expires;
			},
			getCookie: function(cname) {
				var self = this;
			    var name = cname + "=";
			    var ca = document.cookie.split(';');
			    for(var i=0; i<ca.length; i++) {
			        var c = ca[i];
			        while (c.charAt(0)==' ') c = c.substring(1);
			        if (c.indexOf(name) != -1) return c.substring(name.length, c.length);
			    }
			    return "";
			}
		};
		T.init();
	})

</script>

<script id="navTpl" type="text/html">
    <ul class="nav navbar-nav navbar-left">
		<li>
        	<a href="index.html">首页</a>
        </li>
        <li>
            <a class="active" href="my_asset.html">个人资产</a>
        </li>
        <li>
            <a href="asset_center.html">资产中心</a>
        </li>
        <% if(loginStatus === true){ %>
        <li>
        	<a href="user_center.html">个人中心</a>
        </li>
        <% } %>
	</ul>
	<ul class="nav navbar-nav navbar-right">
        <% if(loginStatus === true){ %>
        <li>
            <a class="logout" href="javascript:;">
                <img src="http://www.gravatar.com/avatar/2b17029a858d6acb7702603d1c139799?s=18&amp;r=g&amp;d=identicon">
                退出
            </a>
        </li>
        <% }else{ %>
		<li><a href="login.html">登陆</a></li>
        <li><a href="register.html">注册</a></li>
        <% } %>
	</ul>
</script>

<script id="assetTpl" type="text/html">
	<table class="table table-hover table-bordered">
		<tr>
			<th><input class="checkAll" type="checkbox" />全选</th>
			<th>序号</th>
			<th>资产名称</th>
			<th>资产数量</th>
			<th>资产描述</th>
			<th>操作</th>
		</tr>
		<%for(var i in items){%> 
		<tr class="item" data-id="<%= i%>">
			<td><input class="checkSingle" type="checkbox" name="item" /></td>
			<td><% if(i < 9){%>0<% }%><%=parseInt(i) + 1%></td>
			<td class="name"><%= items[i].name%></td>
			<td class="num"><%= items[i].num%></td>
			<td class="desc"><%= items[i].desc%></td>
			<td>
				<input type="button" name="" value="删除" class="btn btn-danger btn-del" />
				<input type="button" name="" value="审批" class="btn btn-info btn-pending" />
			</td>
		</tr>
		<% }%>
	</table>
	</tbody>
</script>

<script type="text/html" id="modalTpl">
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">温馨提示</h4>
			    </div>
			    <div class="modal-body">
			     	<%=tips%>
      			</div>
				<div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			        <button type="button" class="btn btn-primary <% if(type==='delAll'){%>btn-delAll<%}else if(type == 'pendingAll'){%>btn-pendingAll<%}else if(type == 'delOne'){%>btn-delOne<%}else{%>btn-pendingOne<%}%>" data-dismiss="modal">确定</button>
			    </div>
			</div>
		</div>
	</div>
</script>


</html>