<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta content="巴比特始建于2011年，是国内最早的区块链（blockchain）资讯社区门户，为区块链创业者、投资者提供信息、交流与投融资服务。开放是我们的广度，中立是我们的态度，敏锐是我们的深度，欢迎一切区块链技术的探讨争鸣。目前有200多位区块链意见领袖、研究者入驻平台。如果您是我们的同类，欢迎加入我们！" name="description">
	<meta content="比特币,比特币资讯,区块链,区块链资讯,数字货币,数字货币资讯,虚拟货币,虚拟货币资讯" name="keywords">
	<title>个人中心</title>
	<link rel="icon" href="./img/favicon.ico" />
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="./css/header.css">
	<link rel="stylesheet" href="./css/user_center.css">
	<link rel="stylesheet" href="./css/fileup.css">
	<script>
		window.DEBUGGER = true;//全局切换本地线上状态
	</script>
</head>
<body>
	<div class="navbar-fixed-container">
		<div class="navbar navbar-fixed-top affix-top" data-offset-top="1" data-spy="affix">
			<nav role="navigation">
				<div class="container-fluid">
					<div class="nav navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Expand and Collapse Menu">
  	                        <span class="icon-bar"></span>
  	                        <span class="icon-bar"></span>
  	                        <span class="icon-bar"></span>
  	                    </button>
  	                    <a class="navbar-brand" href="index.html">Bytom</a>
					</div>
					<div class="navbar-collapse collapse"></div>
				</div>
			</nav>
		</div>
	</div>
	<div class="container">
		<div class="col-sm-12 user-box">
			<div class="user-info">
				
			</div>
		</div>
		<div class="col-sm-12 user-box">
			<div class="user-purchased">
				
			</div>
		</div>
		<div class="col-sm-12 user-box">
			<div class="user-published">
				
			</div>
		</div>
	</div>
	<div class="modal fade" id="descModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">资产详细描述</h4>
			    </div>
			    <div class="modal-body">
			     	
      			</div>
      			<div class="modal-footer">
			        <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
			    </div>
			</div>
		</div>
	</div>
	<div class="indentModal"></div>
</body>
<script src="./js/jquery.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/template.js"></script>
<script src="./js/user_center.js"></script>
<script src="./js/validate.js"></script>
<script src="./js/apiUrl.js"></script>
<script src="./js/fileinput.min.js"></script>
<!-- template测试 -->
<script id="navTpl" type="text/html">
    <ul class="nav navbar-nav navbar-left">
		<li>
        	<a href="index.html">首页</a>
        </li>
        <li>
            <a href="my_asset.html">个人资产</a>
        </li>
        <li>
            <a href="asset_center.html">资产中心</a>
        </li>
        <% if(loginStatus === true){ %>
        <li>
        	<a class="active" href="user_center.html">个人中心</a>
        </li>
        <% } %>
	</ul>
	<ul class="nav navbar-nav navbar-right">
        <% if(loginStatus === true){ %>
        <li>
            <a class="logout" href="javascript:;">
                <img src="http://www.gravatar.com/avatar/2b17029a858d6acb7702603d1c139799?s=18&amp;r=g&amp;d=identicon">
                退出
            </a>
        </li>
        <% }else{ %>
		<li><a href="login.html">登录</a></li>
        <li><a href="register.html">注册</a></li>
        <% } %>
	</ul>
</script>

<script type="text/html" id="userInfoTpl">
	<p class="name"><%= items.username%></p>
	<p class="email">注册邮箱：<%= email%></p>
	<p class="rtime">注册时间：<%= items.rtime%></p>
	<p class="ltime">上次登陆时间：<%= items.ltime%>前</p>
	<% if(!status){%>
	<input type="button" name="" value="实名认证" data-loading-text="实名认证中..." class="btn btn-info btn-indent" />
	<%}else{%>
	<input type="button" name="" value="已实名认证" class="btn btn-success" />
	<%}%>
</script>

<script id="assetPurchasedTpl" type="text/html">
	<div class="asset-block">
		<h3><%=username%>已购买资产</h3>
		<div class="asset-table">
			<table class="table table-hover table-bordered">
				<tr>
					<th>资产名称</th>
					<th>资产数量</th>
					<th>发布时间</th>
					<th>发行机构/人</th>
					<th>资产描述</th>
					<th>操作</th>
				</tr>
				<%for(var i in items){%> 
				<tr data-id="<%= items[i].id%>">
					<td><%= items[i].assets_name%></td>
					<td><%= items[i].assets_num%></td>
					<td><%= items[i].time%></td>
					<td><%= items[i].assets_id%></td>
					<td class="desc-wrap">
						<p class="desc" style="display:none;"><%= items[i].assets_desc%></p>
						<p class="showdesc" title="<%= items[i].assets_desc%>"><% if(items[i].assets_desc.length >= 10){%><%= items[i].assets_desc.substr(0,10)%>...<%}else{%><%= items[i].assets_desc%><%}%></p>
					</td>
					<td>
						<button type="button" class="btn btn-watchDesc btn-info" data-toggle="modal" data-target="#descModal" data-desc="<%= items[i].assets_desc%>">详情</a>
					</td>
				</tr>
				<%}%>
			</table>
		</div>
	</div>
</script>

<script id="assetPublishedTpl" type="text/html">
	<div class="asset-block">
		<h3><%=username%>已发布资产</h3>
		<div class="asset-table">
			<table class="table table-hover table-bordered">
				<tr>
					<th>资产名称</th>
					<th>资产数量</th>
					<th>资产描述</th>
					<th>发布时间</th>
					<th>价格</th>
					<th>操作</th>
				</tr>
				<%for(var i in items){%> 
				<tr data-id="<%= items[i].id%>" data-itemid="<%= items[i].assets_id%>">
					<td><%= items[i].assets_name%></td>
					<td><%= items[i].assets_num%></td>
					<td class="desc-wrap">
						<p class="desc" style="display:none;"><%= items[i].assets_desc%></p>
						<p class="showdesc" title="<%= items[i].assets_desc%>"><% if(items[i].assets_desc.length >= 10){%><%= items[i].assets_desc.substr(0,10)%>...<%}else{%><%= items[i].assets_desc%><%}%></p>
					</td>
					<td><%= items[i].time%></td>
					<td><% if(items[i].price){%><%= items[i].price%><% }else{ %>/<% }%></td>
					<td>
						<button type="button" class="btn btn-watchDesc btn-info" data-toggle="modal" data-target="#descModal" data-desc="<%= items[i].assets_desc%>">详情</a>
					</td>
				</tr>
				<%}%>
			</table>
		</div>
	</div>
</script>

<script id="indentModalTpl" type="text/html">
	<div class="modal fade" id="indentModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">实名认证信息提交</h4>
			    </div>
			    <div class="modal-body">
			     	<form id="indentForm">
			     		<div class="form-group">
	                        <label for="name">姓名</label>
	                        <input type="text" name="name" class="form-control" id="name" placeholder="姓名" />
	                	</div>
	                	<div class="form-group">
	                        <label for="num">身份证号码</label>
	                        <input type="text" name="cardid" class="form-control" id="cardid" placeholder="身份证号码" />
	                	</div>
	                	<div class="form-group">
	                        <label for="price">身份证正面</label>
	                        <input type="file" name="cardface1" class="form-control" id="cardface1" />
	                	</div>
	                	<div class="form-group">
	                        <label for="desc">身份证反面</label>
	                        <input type="file" name="cardface2" class="form-control" id="cardface2" />
	                	</div>
	                	<div style="text-align: right;">
	                		<input type="button" value="实名认证" class="btn btn-info btn-sureIndent" />
	                	</div>
					</form>
	  			</div>
			</div>
		</div>
	</div>
</script>

</html>